/* style.css */

body {
	font-family: monospace;
	line-height: 2;
	/* Set text color to black. */
	color: #000;
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;
	background-color: #fff;
}

header {
	border-bottom: 1px solid #eee;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: #fff;
	width: 100%;
	padding: 1rem 2rem;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding 2rem;
}

h1 {
	font-weight: normal;
	margin-bottom: 0.5rem;
 }

/* scroll-margin-top is still not working. */
h2 {
	scroll-margin-top: 100px;
}
		
nav a {
	text-decoration: none;
	color: #000;
	margin-right: 15px;
	/* Setting font size to 1 root element. */
	font-size: 1rem;
}

nav a:hover { color: #000; }

section { margin-bottom: 3rem; }
        
footer {
	font-size: 1rem;
	color: #000;
	margin-top: 4rem;
	border-top: 1px solid #fdfdfd;
	padding-top: 1rem;
}